body {
    background-color: #b2cfa7;
  }
  .name{
      font-family: 'Sacramento', cursive;
  }

  td{
      font-size:medium;
  }

  hr {
    border-style: none;
    border-top-style: dotted;
    border-color: grey; 
    border-width: 3px;
    width: 100%;
  }
  .sideheadings{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
  }
  h2{
      color: #080707be;

      margin-left: auto;
      margin-right: auto;
  }

  